@{
    ViewData["Title"] = "Beneficios";
}

<body class="Fondo2">
   <div class="colorF2">
<h3>@ViewData["Title"]</h3>

<h3>Adoptar una mascota traerá muchos cambios positivos para tu vida.</h3> 

<p>A través de la historia, las mascotas han sido grandes compañeras de la vida de las personas, compartiendo alegrías, pero también ayudando a superar momentos difíciles.
Adoptar es un gran paso. Hay muchos aspectos que debes considerar previamente, desde elegir el tipo de perrito más adecuado para tu estilo de vida, hablando de la raza, el tamaño, hasta el sexo de tu mascota. Por eso queremos ayudarte para que ésta sea una de las mejores experiencias en tu vida y la de tu próximo amigo de cuatro patas.
Ante todo, debes tomar en cuenta la gran responsabilidad que representa tener a un animal de compañía dentro de tu vida, ya que desafortunadamente es común que algunos dueños que adquieren un perrito, de forma impulsiva decidan abandonarlo. Esto sucede por lo regular cuando se dan cuenta del compromiso a largo plazo que implica vivir con una mascota.</p>

<p>Si ya estás decidido a adoptar un perrito para ser tu compañero de vida, tendrás que tomar en cuenta las siguientes consideraciones para hacer elección de la mascota ideal para ti de acuerdo con tu estilo de vida y preferencias tomando en cuenta los siguientes aspectos: </p>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <img src="~/img/Tamaño.jpeg"  />
            <h3>Tamaño</h3>
            <p>Considera el espacio de tu hogar para elegir el tamaño de tu mascota</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <img src="~/img/Tipo de pelo.jpeg" />
            <h3>Tipo de pelo</h3>
            <p>Hay pelajes que requieren más cuidados que otros</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <img src="~/img/Edad.jpeg"/>
            <h3>Edad</h3>
            <p>Una mascota menos de un año necesita atenciones distintas a las de un adulto</p>
        </div>

    </div>

        <div class="row">
        <div class="col-sm-12 col-md-4">
            <img src="~/img/Tiempo.jpeg"/>
            <h3>Tiempo</h3>
            <p>Una mascota necesita que le dediques tiempo para jugar y cuidarla.a</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <img src="~/img/Personalidad.jpeg"/>
            <h3>Personalidad</h3>
            <p>Tú y tu nuevo mejor amigo deben tener las personalidades compatibles.</p>
        </div>

        <div class="col-sm-12 col-md-4">
            <img src="~/img/Presupuesto.jpeg" />
            <h3>Presupuesto</h3>
            <p>Calcula los gastos de alimento, vacunas y productos de higiene antes de adoptar</p>
        </div>

    </div>





</div>



</div>

</body>
